{% load i18n %}
{% load staticfiles %}

<html ng-app="App">
  <head>
    <title>Sauron Brought You Some Cookies</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <style type="text/css">
      .messages-wrapper {
        position: absolute;
        z-index: 1001;
        top: 10px;
        right: 10px;
        width: 300px;
      }
      .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: auto;
        overflow-y: auto;
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
      }
      .filebrowser {
        margin-top: 10px;
        margin-right: -21px;
        margin-bottom: 20px;
        margin-left: -20px;
      }
      .filebrowser ul, .filebrowser li {
        display: block;
        list-style: none;
        padding: 0;
        margin-left: 10px;
      }
      .directory {
        color: #5F4C0B;
      }
      .file {
        color: #0B610B;
      }
      .editor-wrapper {
        position: fixed;
        top: 10px;
        bottom: 0;
        right: 0;
        left: 235px;
        z-index: 1000;
        display: block;
        overflow-x: auto;
        overflow-y: auto;
      }
      .editor {
        position: absolute;
        left: 0;
        right: 0;
        height: 90%;
      }
      .status-bar {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        font-size: 0.8em;
      }
        .position-fixed {
            position: fixed;
        }
    </style>
  </head>
  <body ng-controller="DashboardController" ng-init="init()">
    <div class="container-fluid">
      <div class="col-sm-3 col-md-2 sidebar">
        <div class="current-user">
          <span class="glyphicon glyphicon-user"></span> {{request.user.username}}
          <a href="{% url 'logout' %}">{% trans 'Logout' %}</a>
        </div>
        <div class="dir-opener">
          <input type="text" ng-model="currentDir" class="form-control">
          <button class="btn btn-default" ng-click="openDir()">{% trans 'Open' %}</button>
        </div>
        <div class="filebrowser">
          <ul>
            <li ng-show="current.directories.length || current.files.length"><a href="#" ng-click="goBack()" onclick="return false" class="directory"><span class="glyphicon glyphicon-folder-close"></span> ..</a></li>
            <li ng-repeat="d in current.directories">
                <a ng-context-menu="dirOptions" onclick="return false" class="directory" data-target="cm-d-[[d.name]]">
                    <span class="glyphicon glyphicon-folder-close"></span> [[d.name]]
                </a>
            </li>
            <li ng-repeat="f in current.files">
                <a ng-context-menu="fileOptions" href="#" ng-click="openFile(f.path)" onclick="return false" class="file">
                    <span class="glyphicon glyphicon-file"></span> [[f.name]]
                </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-10">
        <div ng-show="opened_files.length" class="editor-wrapper">
          <ul class="nav nav-tabs" role="tablist">
            <li ng-class="{active: f.path==file.path}" ng-dblclick="closeFile($index)" ng-click="setFile($index)" ng-repeat="f in opened_files"><a href="#home" role="tab" onclick="return false" data-toggle="tab"><span ng-show="f.updated" class="glyphicon glyphicon-folder-close"></span>[[f.name]]</a></li>
          </ul>
          <div on-save="saveFile()" ng-show="f.path==file.path" ng-repeat="f in opened_files" class="editor" id="[[f.name]]" ui-ace="{theme:'monokai', mode:getAceMode(f.name), onLoad : aceLoaded}" ng-model="f.content"></div>
          <div class="status-bar">
            [[file.path]]
          </div>
        </div>
      </div>
    </div>

    <div class="messages-wrapper">
      <div class="alert alert-[[m.type]] alert-dismissible" role="alert" ng-repeat="m in messages">
        <button type="button" class="close" ng-click="removeMessage($index)" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">{% trans 'Close' %}</span></button>
        [[m.text]]
      </div>
    </div>
    
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="//cdnjs.cloudflare.com/ajax/libs/ace/1.1.3/ace.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
    <script type="text/javascript" src="{% static 'js/angular-resource.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/ui-ace.js' %}"></script>
    <script type="text/javascript" charset="utf-8">
      var app = angular.module('App', ['ngResource', 'ui.ace'])
      app.config(function($interpolateProvider){
        $interpolateProvider.startSymbol('[[')
        $interpolateProvider.endSymbol(']]')
      })

      app.directive('onSave', function() {
        return function(scope, elm, attrs) {
          function applySave() {
            scope.$apply(attrs.onSave);
          };

          var isCtrl = false

          elm.bind('keyup', function(evt) {
            if(evt.which == 17) isCtrl = false
          })

          elm.bind('keydown', function(evt){
            if(evt.which == 17) isCtrl=true;
            if(evt.which == 83 && isCtrl == true) {
                applySave()
                evt.preventDefault()
                return false;
            }
          })

        }
      })

    app.directive('ngContextMenu', function ($parse) {
        var renderContextMenu = function ($scope, event, options) {
            if (!$) { var $ = angular.element; }
            $(event.target).addClass('context');
            var $contextMenu = $('<div>');
            $contextMenu.addClass('dropdown clearfix');
            var $ul = $('<ul>');
            $ul.addClass('dropdown-menu');
            $ul.attr({ 'role': 'menu' });
            $ul.css({
                display: 'block',
                position: 'absolute',
                left: event.pageX + 'px',
                top: event.pageY + 'px'
            });
            angular.forEach(options, function (item, i) {
                var $li = $('<li>');
                if (item === null) {
                    $li.addClass('divider');
                } else {
                    $a = $('<a>');
                    $a.attr({ tabindex: '-1', href: '#' });
                    $a.text(item[0]);
                    $li.append($a);
                    $li.on('click', function () {
                        $scope.$apply(function() {
                            item[1].call($scope, $scope);
                        });
                    });
                }
                $ul.append($li);
            });
            $contextMenu.append($ul);
            $contextMenu.css({
                width: '100%',
                height: '100%',
                position: 'absolute',
                top: 0,
                left: 0,
                zIndex: 9999
            });
            $(document).find('body').append($contextMenu);
            $contextMenu.on("click", function (e) {
                $(event.target).removeClass('context');
                $contextMenu.remove();
            }).on('contextmenu', function (event) {
                $(event.target).removeClass('context');
                event.preventDefault();
                $contextMenu.remove();
            });
        };
        return function ($scope, element, attrs) {
            element.on('contextmenu', function (event) {
                $scope.$apply(function () {
                    event.preventDefault();
                    var options = $scope.$eval(attrs.ngContextMenu);
                    if (options instanceof Array) {
                        renderContextMenu($scope, event, options);
                    } else {
                        throw '"' + attrs.ngContextMenu + '" not an array';                    
                    }
                });
            });
        };
    });

      function DashboardController($scope, $http, $resource){
        $scope.currentDir = location.hash.replace('#', '')
        $scope.messages = []
        $scope.opened_files = []
        $scope.file = null
        $scope.current = {
          'directories': [],
          'files': []
        }

        var Directory = $resource('/api/directory/?dir=:dir')
        var File = $resource('/api/file/?path=:path')

        $scope.init = function(){
          if($scope.currentDir != ''){
            $scope.openDir()
          }
        }

        $scope.addMessage = function(type, text){
          $scope.messages.push({'type': type, 'text':text})
        }

        $scope.removeMessage = function(index){
          $scope.messages.splice(index, 1)
        }

        $scope.saveFile = function(){
            $scope.file.updated = false
            $scope.file.$save()
        }

        $scope.openFile = function(path){
          for(var index in $scope.opened_files){
            if($scope.opened_files[index].path == path){
              return
            }
          }
          File.get({'path': path})
            .$promise.then(function(file){
              $scope.opened_files.push(angular.copy(file))
              $scope.setFile()
            }, function(data){
              $scope.addMessage('danger', 'File doesn\'t exist of you don\'t have access to it')
            })
        }

        $scope.getAceMode = function(filename){
            var ext = filename.split('.')[filename.split('.').length - 1]
            var modes = {
                'py': 'python',
                'js': 'javascript',
                'rb': 'ruby',
                'html': 'html',
                'php': 'php'
              }
            return modes[ext]
        }

        $scope.aceLoaded = function(_editor) {
          console.log(_editor)
          _editor.setOptions({
            fontSize: "11pt",
            enableBasicAutocompletion: true
          })
        }

        $scope.aceChanged = function(e) {
            $scope.file.updated = true
        }

        $scope.setFile = function(index){
          if(typeof index == 'undefined'){
            index = $scope.opened_files.length - 1
          }
          $scope.file = $scope.opened_files[index]
          //$scope.initEditor($scope.file.name)
        }

        $scope.closeFile = function(index){
            if(!confirm('All changes will be lost')){
                return false
            }
          if($scope.file.name == $scope.opened_files[index].name){
            if($scope.opened_files.length > 1 && index == 0){
              $scope.file = $scope.opened_files[1]
            }else if($scope.opened_files.length > 1 && index != 0){
              $scope.file = $scope.opened_files[index - 1]
            }
          }
          $scope.opened_files.splice(index, 1)
        }

        $scope.goBack = function(){
          if($scope.currentDir != '/'){
            var dir_chain = $scope.currentDir.split('/')
            dir_chain.splice(dir_chain.length - 2, 2)
            $scope.openDir(dir_chain.join('/'))
          }
        }

        $scope.openDir = function(_dir){
          $scope.currentDir = _dir || $scope.currentDir
          if($scope.currentDir[$scope.currentDir.length-1] != '/'){
            $scope.currentDir += '/'
          }
          location.hash = $scope.currentDir
          Directory.get({'dir': $scope.currentDir})
            .$promise.then(function(data){
                $scope.current.directories = []
                $scope.current.files = []
                for(var index in data.children){
                  data.children[index].type === 'file'
                    ? $scope.current.files.push(data.children[index])
                    : $scope.current.directories.push(data.children[index])
                }
            }, function(data){
                $scope.addMessage('danger', 'Directory doesn\'t exist of you don\'t have access to it')
            })
        }
        
        $scope.dirOptions = [
            ['New File', function ($dirScope) {
                //$dirScope.d
            }],
            null,
            ['New Folder', function ($dirScope) {
                //$dirScope.d
            }],
            null,
            ['Rename', function ($dirScope) {
                //$dirScope.d
            }],
            null,
            ['Delete', function ($dirScope) {
                //$dirScope.d
            }]
        ]
        
        $scope.fileOptions = [
            ['Rename', function ($fileScope) {
                //$fileScope.f
            }],
            null,
            ['Delete', function ($fileScope) {
                //$fileScope.f
            }]
        ]

      }
    </script>
  </body>
</html>
